/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    
/* Fixed width container class that will "auto-center" itself */
.container {
  width: 1200px;
  margin: 0 auto;
}
/* Favorite button style */
.btn {
    border: 2px solid lightseagreen;
    border-radius: 10px;
    background-color: white;
    color: lightseagreen;
    padding: 2px 28px;
    font-size: 16px;
    display: block;
    margin: 50px 50px 10px;
}
/* From the FLEX-ible columns assignment */
.row {
    display: flex;
}
.col, .col-2, .col-3 {
    flex: 1;
    padding: 20px;
    height: 20px;
    margin: 10px;
    background-color: lightseagreen;
}
.col-2 {
    flex: 2
}
.col-3 {
    flex: 3;
}
/* From the Flex Navbar assignment */
.active {
    font-weight: bold;
}
.nav {
    vertical-align: top;
    height: 30px;
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-links {
    display: flex;
    font-size: 20px;
}
.nav-links a {
    margin: 30px;
    text-decoration: none;
    color: white;
}
.nav-title {
    font-size: 40px;
    margin-right: 20px;
    color: white;
}